<h1>All Directors</h1>

<% @list_of_directors.each do |a_director| %>
  <div>
    <p><%= a_director.name %></p>
    <a href="/directors/<%= a_director.id %>">Show details</a>
  </div>
<% end %>

<hr>

<h2>Create a new director</h2>

<form action="/insert_director" method="post">
  <label for="name_input">Name</label>
  <input id="name_input" name="query_name">

  <label for="image_input">Image</label>
  <input id="image_input" name="query_image">

  <label for="dob_input">Date of Birth</label>
  <input id="dob_input" name="query_dob">

  <label for="bio_input">Bio</label>
  <input id="bio_input" name="query_bio">

  <button type="submit">Create director</button>
</form>
