<h1>All Actors</h1>

<ul>
  <% @list_of_actors.each do |actor| %>
    <li>
      <%= actor.name %> |
      <a href="/actors/<%= actor.id %>">Show details</a>
    </li>
  <% end %>
</ul>

<hr>

<h2>Create a new actor</h2>

<form action="/insert_actor" method="post">
  <label for="name_input">Name</label>
  <input id="name_input" name="query_name">

  <label for="image_input">Image</label>
  <input id="image_input" name="query_image">

  <label for="dob_input">Dob</label>
  <input id="dob_input" name="query_dob">

  <label for="bio_input">Bio</label>
  <input id="bio_input" name="query_bio">

  <button type="submit">Create actor</button>
</form>
